<div class="move-apods-down">
    <div class="container">
        <div class="row">
            
                <div class="col-md-6">
                    <ng-container *ngIf="isFavoriteList">
                        <h1>Favorite APODS List:</h1>
                    </ng-container>
                    <ng-container *ngIf="!isFavoriteList">
                        <h1>APODS List:</h1>
                    </ng-container>
                </div>
        </div>


        <ng-container *ngIf="!isFavoriteList">
            <ng-container *ngFor="let apod of ApodList">
            
                <app-apod [apod]="apod" [apodType]="'fromList'"></app-apod>
            
            </ng-container>
        </ng-container>

        <ng-container *ngIf="isFavoriteList">
            <ng-container *ngFor="let apod of ApodList">
            
                <app-apod [apod]="apod" [apodType]="'fromFavoritesList'"></app-apod>
            
            </ng-container>
        </ng-container>

        <ng-container *ngIf="!isFavoriteList">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" class="datepicker"></ngb-datepicker>
                        <ng-template #t let-date let-focused="focused">
                        <span class="custom-day"
                                [class.focused]="focused"
                                [class.range]="isRange(date)"
                                [class.faded]="isHovered(date) || isInside(date)"
                                (mouseenter)="hoveredDate = date"
                                (mouseleave)="hoveredDate = null">
                            {{ date.day }}
                        </span>
                        </ng-template>
                        <button (click)="convertToString()" class="btn-sm btn-success button-width">Go</button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<br />