<div class="move-apods-down">
    <div class="container">
        <div class="row">
                <div class="col-md-6">
                    <ng-container *ngIf="isFavoriteList">
                        <h1>Favorite APODs:</h1>
                    </ng-container>
                    <ng-container *ngIf="!isFavoriteList">
                        <h1>Browse APODs By Date Range:</h1>
                    </ng-container>
                </div>
        </div>
        <ng-container *ngIf="!isFavoriteList">
            <ng-container *ngFor="let apod of ApodList">
                <app-apod [apod]="apod" [apodType]="'fromList'"></app-apod>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="isFavoriteList">
            <ng-container *ngFor="let apod of ApodList">
                <app-apod [apod]="apod" [apodType]="'fromFavoritesList'"></app-apod>
            </ng-container>
            <ng-container *ngIf="ApodList">
                <ng-container *ngIf="ApodList.length === 0">
                    <br />
                    <div class="container">
                        <div class="row">
                          <div class="col-md-8 offset-md-1 rover-position">
                            <h3 class="text-danger">Looks like you don't have any favorite APODs <i class="bi bi-emoji-frown"></i></h3>
                            <br />
                            <a routerLink="/apodList"><h3 class="text-info">Browse APODs</h3></a>
                          </div>
                        </div>
                      </div> 
                </ng-container>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="!isFavoriteList">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" [minDate]="{year: 2000, month: 1, day: 1}"
                        [maxDate]="{year: 2021, month: 12, day: 31}" outsideDays="hidden" class="datepicker"></ngb-datepicker>
                        <ng-template #t let-date let-focused="focused">
                        <span class="custom-day"
                                [class.focused]="focused"
                                [class.range]="isRange(date)"
                                [class.faded]="isHovered(date) || isInside(date)"
                                (mouseenter)="hoveredDate = date"
                                (mouseleave)="hoveredDate = null">
                            {{ date.day }}
                        </span>
                        </ng-template>
                        <button (click)="convertToString()" class="btn-sm btn-success button-width">Go</button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<br />