<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Cool Space Stuff</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home" routerLinkActive="active">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/apod" routerLinkActive="active">APOD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/apodList" routerLinkActive="active">Browse APOD's</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/marsRoverList" routerLinkActive="active">Mars Rover</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/techTranser" routerLinkActive="active">Tech Transfer</a>
        </li>
        <ng-container *ngIf="userId > 0">
          <li class="nav-item">
            <div class="nav-item dropdown" ngbDropdown>
              <a class="nav-link dropdown-toggle" ngbDropdownToggle data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="bi bi-star-fill"></i> Favorites</a>
              <div class="dropdown-menu" ngbDropdownMenu>
                <a class="dropdown-item" ngbDropdownItem routerLink="/favoriteApodList" [queryParams]="{ isFavoriteList: true }" routerLinkActive="active">APODs</a>
                <a class="dropdown-item" ngbDropdownItem routerLink="/favoriteRoverList" [queryParams]="{ isFavoriteList: true }" routerLinkActive="active">Mars Rover Photos</a>
              </div>
            </div>
          </li>
        </ng-container>
      </ul>
      <div class="nav-item dropdown loginIcon" ngbDropdown>
        <a class="nav-link dropdown-toggle loginIcon-dark" ngbDropdownToggle data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="bi bi-person-fill"></i></a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a *ngIf="userId === -1" class="dropdown-item" ngbDropdownItem  routerLink="/userSignUp" routerLinkActive="active">Sign Up</a>
          <a *ngIf="userId === -1" class="dropdown-item" ngbDropdownItem routerLink="/login" routerLinkActive="active">Login</a>
          <ng-container *ngIf="userId > -1">
            <a class="dropdown-item" ngbDropdownItem routerLink="/updateUser" routerLinkActive="active">Update Account</a>
            <a class="dropdown-item" ngbDropdownItem routerLink="/home" routerLinkActive="active" (click)="logout()">Logout</a>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</nav>