<div class="move-home-down">
    <h1 class="text-center really-big">Welcome to our Cool Space App!</h1>
    <div class="container card-spacing">
        <div class="row">
            <div class="col-sm">
                <div class="card card-height border-success">
                    <div class="card-body">
                    <h4 class="card-title text-success">Astronomy Picture of the Day</h4>
                    <h6 class="card-subtitle mb-2 text-muted">(APOD)</h6>
                    <p class="card-text paragraph">Each day a different image or photograph of our fascinating universe is featured, along with a brief explanation written by a professional astronomer!</p>
                    <a routerLink="/apod" class="card-link">See Today's Apod</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-height border-info">
                    <div class="card-body">
                    <h4 class="card-title text-info">Browse APOD's</h4>
                    <h6 class="card-subtitle mb-2 text-muted">By Date Range</h6>
                    <p class="card-text paragraph">View a list of APOD's by date range</p>
                    <a routerLink="/apodList" class="card-link">Browse APOD's</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-height border-warning">
                    <div class="card-body">
                    <h4 class="card-title text-warning">Mars Rover</h4>
                    <p class="card-text paragraph">Image data gathered by NASA's Curiosity, Opportunity, and Spirit rovers on Mars!</p>
                    <a routerLink="/marsRover" class="card-link">View Mars</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





















<!--
<span class="paragraph">Click the links above to view cool space things.</span><h2 style="display:inline;" class="bi bi-arrow-up-circle"></h2>
-->