.card-height {
    height: 19em;
}

.card-spacing {
    margin-top: 6em;
}

.really-big {
    font-size: 5em;
}

.move-home-down {
    margin-top: 8em;
}

.card-link {
    text-decoration: none;
}

.card-link:hover {
    cursor: pointer;
}

.card:hover {
    border-width: 2px;
}