<h3>Astronomy Photo of the Day:</h3>
<ng-container *ngIf="apod">
    <h6>{{ apod.title }}</h6>
    <p>{{ apod.date }}</p>
    <ng-container *ngIf="apod.media_type === 'video'">
        <youtube-player 
            videoId="{{ youtubeId }}" 
            suggestedQuality="highres" 
            [height]="250" 
            [width]="500">
        </youtube-player>
    </ng-container>
    <ng-container *ngIf="apod.media_type === 'image'">
        <img src="{{ apod.url }}" />
    </ng-container>
    <div>
        <P>
            Explanation: {{apod.explanation}}
        </P>
    </div>
</ng-container>
<div>
   Date: YYYY-MM-DD <input type="text" [(ngModel)]="specificDate"/><br/>
    <button (click)="getApodByDate()">Get Apod By Date</button>
</div>



